<!-- app.component.html -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="btn btn-dark" style="background-color: transparent;" id="sidebar-toggle" (click)="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a class="titulo titulo-destacado" aria-current="page" href="#">Supermercado Scraping</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Última Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigateToComparisonTools()">Herramienta de Comparación</a>
          </li>
          <form class="d-flex ms-auto">
            <input class="form-control me-2 shadow-lg" type="search" placeholder="Ingrese el producto a buscar..." aria-label="Buscar">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>
  
  <app-sidebar></app-sidebar>